{% load static %}
<footer id="footer" class="bg-[#000000] mx-auto pb-5 border-b-8 border-red-600">
    <div class="flex flex-col justify-center mx-20 items-center space-y-5 ">
      <img src="{% static 'img/logofooter.png'%}" alt="" class="w-full lg:w-1/6" style="filter: drop-shadow(0px 5px 5px red)">
        <div id="icons" class="space-x-10">
          <a class="nav-link text-white" target="_blank" href="https://www.instagram.com/piperunkick/"><i class="fa-brands fa-instagram fa-2xl"></i></a>
          <a class="nav-link text-white" target="_blank" href="https://www.youtube.com/@calisteniarexup"><i class="fa-brands fa-youtube fa-2xl"></i></a>
        </div>
    </div>
</footer>